/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body {
    font-family:Tahoma;
    color:#282828;
    font-size: 14px;
    line-height: 1.35em;
}

.content {
    border:5px solid orange;
    background-color:#efefef;
    padding: 20px 10px;
}

.description {
  font-size: 90%;
  line-height: 1.35em;
  clear: both;
}

.section {
    height:40px;
}

.label_tag,
.label_spacer {
    width: 200px;
    text-align:right;
    display:inline-block;
    margin-right: 20px;
}

.label_tag:after {
  content: ':';
}

.text_field {
    text-align:left;
    height:28px;
    font-size:20px;
}

input[type='text'],
input[type='password'] {
  font-size: 120%;
  height: 25px;
  width: 300px;
}

input[type='submit'] {
    background-color: orange;
    border: none;
    color: white;
    font-size: 20px;
    padding: 10px;
    margin: 20px auto 0;
    display: block;
    cursor: pointer;
    width: 140px;
}

.container {
    width:700px;
    margin:auto;
}
.rounded_corners {
  -moz-border-radius: 10px; /* Firefox */
  -webkit-border-radius: 10px; /* Safari, Chrome */
  border-radius: 10px; /* CSS3 */
}
.center {
    text-align:center;
}
.mb20 {
    margin-bottom:20px;
}
.mt20 {
    margin-top:20px;
}

#header {
  height:40px;
  padding: 0px 10px;
}

#header ul.header-left {
  float:left;
  width:30%;
}

#header ul.header-right {
  float:right;
  width:70%;
  text-align:right;
}

#header li {
  display:inline;
  padding-right: 10px;
}

#header li:last-child {
  padding-right: 0px;
}


a, a:visited {
  color: #000;
}

a:hover {
  color: #995533;
}

h2 {
  font-size: 200%;
  margin-bottom: 10px;
}

h3 {
  font-size: 125%;
  margin-bottom: 10px;
}

.bold {
  font-weight: bold;
}

/* Corner position button quick fixes */
#content {
  position: relative;
}
.form_control .rounded_corners {
  position: absolute;
  right: 0;
  bottom: 0;
  margin-top: 0;
  -moz-border-radius: 10px 0 5px 0; /* Firefox */
  -webkit-border-radius: 10px 0 5px 0; /* Safari, Chrome */
  border-radius: 10px 0 5px 0; /* CSS3 */
}

table {
  text-align: left;
  table-layout: fixed;
}

table th, td {
  padding: 4px 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

table tr:first-child td {
  padding-top: 10px;
}

table th {
  border-bottom: 2px solid orange;
}

.success {
  border-color:green;
}
.fail {
  border-color:red;
}
#header a {
  background: orange;
  color: white;
  padding: 10px 30px;
  font-size: 20px;
  text-decoration: none;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
#header a:hover {
  text-decoration:underline;
}

.offer-section {
  width: 400px;
  margin: 0 auto;
}

.offer-section table {
  width: 100%;
}
#body_of_results a {
  
}
