<h2 class="mb20">Edit My Account</h2>

<% form_for @user, :url => account_path do |f| %>
  <%= render :partial => "form", :object => f %>
  <div class="section form_control">
    <%= f.submit "Update", :class => :rounded_corners %>
  </div>
<% end %>
