<h2>Register</h2> 

<p class="description mb20"> 
  Sign-up if you're an artist who'd like to control the way your music is sold.
  By creating an account you will be able to create associations with your music 
  by band name, album name, track name or a number other associations.
</p>

<% form_for @user, :url => account_path do |f| %>
  <%= render :partial => "form", :object => f %>
  <div class="section form_control">
    <%= f.submit "Register", :class => :rounded_corners %>
  </div>
<% end %>

