<h2>Account</h2>

<div>
  <label class="label_spacer">Login:</label>
  <%=h @user.email %>
</div>

<div>
  <label class="label_spacer">Artist Name:</label>
  <%=h @user.artist_name %>
</div>

<div class="mt20 center"><%= link_to "Change email, password or name", :action => :edit %>
