<h2 class="mb20">Offers</h2>

<% if @offers.size == 0 %>
  <div class="center">You have no offers. Would you like to <span class="bold"><%= link_to "add one", new_offer_path %>?</span></div>
<% else %>

  <p class="description mb20 center">
    Below is a list of offers you have currently setup. <%= link_to "Add another", new_offer_path %>?
  </p>

  <table style="width: 400px; margin: 0 auto;">
    <thead>
      <th>Album Name</th>
      <th></th>
    </thead>

    <tbody>
      <% for offer in @offers %>
        <tr>
          <td>
            <%= link_to(h(offer.name),offer_path(offer)) %>
          </td>
          <td>
            <%= link_to("delete",offer_path(offer), :method => :delete) %>
          </td>
        </tr>
      <% end %>
    </tbody>

  </table>
<% end %>
