<h2 class="mb20">Create Offer</h2>
<% form_for @offer, :url => offers_path do |f| %>
  <%= f.error_messages %>

  <%= render :partial => "form", :object => f %>

  <div class="section form_control">
    <%= f.submit("Create", :class => :rounded_corner ) %>
  </div>
<% end %>

